@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: Inter, sans-serif;
  /* Changed from InterDisplay */
  --font-display: Inter, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --color-base-50: oklch(96.74% 0.001 286.38);
  --color-base-100: oklch(93.73% 0.001 286.37);
  --color-base-200: oklch(87.31% 0.004 271.36);
  --color-base-300: oklch(80.82% 0.006 274.95);
  --color-base-400: oklch(74.22% 0.009 278.59);
  --color-base-500: oklch(67.48% 0.012 280.37);
  --color-base-600: oklch(56.83% 0.015 281.34);
  --color-base-700: oklch(46.56% 0.011 279.46);
  --color-base-800: oklch(35.42% 0.009 285.95);
  --color-base-900: oklch(23.48% 0.004 264.49);
  --color-base-950: oklch(16.89% 0.002 286.18);
}

/* CSS */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/public/fonts/InterVariable.woff2') format('woff2');
}

:root {
  font-family: 'Inter', sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

:root {
  --astro-code-color-text: #000000;
  --astro-code-background: #f5f5f5;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #00000050;
  --astro-code-token-comment: #00000060;
  --astro-code-token-keyword: black;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: black;
  --astro-code-token-string-expression: #2522fc;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}

@layer base {
  ::-moz-selection {
    @apply bg-amber-200;
  }

  ::selection {
    @apply bg-amber-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0;
    font-feature-settings: normal;
  }

  img {
    @apply block;
    @apply rounded-lg;
    @apply ml-auto;
    @apply mr-auto;
  }

  html {
    @apply antialiased;
    @apply bg-orange-50;
  }

  abbr {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .prose a {
    @apply underline hover:decoration-wavy text-base-900;
  }
}