---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
    <section
        class="min-h-screen flex flex-col items-center justify-center text-center px-4"
    >
        <h1 class="text-6xl font-bold mb-4 text-base-900">404</h1>
        <p class="text-xl mb-8 text-base-900">
            Oh, no! The page you're looking for had a falling out of existence.
        </p>
        <img
            src="/src/images/page/404/tomAndJerryAnimation.gif"
            alt="Tom the cat lays on a yellow couch, using Jerry the mouse as a ball with a ping pong racket"
            class="max-w-fit"
        />
        <a
            href="/"
            class="py-1.5 px-2.5 border focus:ring-2 h-7.5 text-sm rounded-full border-transparent bg-base-900 hover:bg-base-900/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-base-900 inline-flex items-center justify-center ring-1 ring-transparent"
        >
            Return to base!
        </a>
    </section>
</BaseLayout>
