---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import tomAndJerry from "../content/images/page/404/tomAndJerryAnimation.webp";
---

<BaseLayout description="Oh, no! The page you're looking for doesn't exist.">
    <div class="py-24">
        <h1
            class="text-center typo-display-xl max-w-xl mb-2 mx-auto"
        >
            404
        </h1>
        <p class="text-center typo-main mb-8 text-balance">
            Oh, no! The page you're looking for doesn't exist.
        </p>
        <div class="text-center">
            <a
                href="/"
                class="button-link py-2 px-6 bg-accent text-base-900 typo-ui-size rounded-full hover:bg-base-900 hover:text-base-50 transition duration-200"
            >
                Return to base!
            </a>
        </div>
        <Image
            src={tomAndJerry}
            alt="An animation of Tom the cat laying on a yellow couch, using Jerry the mouse as a ball with a ping pong racket"
            title="Tom and Jerry - 404"
            class="mt-12 max-w-3/4 rounded-lg mx-auto"
        />
    </div>
</BaseLayout>
