---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Logo from "@/components/global/Logo.astro";
import Adventure from "../content/images/page/about/Adventure.webp";
---

<BaseLayout
    title="About - Joacim Eldre"
    description="Learn more about Joacim Eldre, a designer, coder, adventurer, and lover of all things yellow."
>
    <section>
        <div class="pt-16 pb-24 max-w-xl2">
            <h1 class="typo-display-xl mb-4">
                I'm a boy, friend, dad, adventurer, nerd, rainbow spewer, human.
            </h1>
            <p class="mt-6 typo-main">
                I like doing. Designing. Drawing. Coding. Discovering. Writing.
                Sharing. Helping. Learning. Adventuring. Laughing. Living.
                Loving.
            </p>
            <p class="mt-6 typo-main">
                I'm formally educated as a visual designer and game designer, and I have a strong interest in and some work experience with code. Mostly no/low code, but I prefer to write and enjoy code that's not abstracted away. I'm currently exploring how to become more proficient in code, and I bring a design mindset into that journey, reiterating fast to get somewhere, testing, and improving.
            </p>
            <p class="mt-6 typo-main">
                I design software in public healthcare. We're currently working
                on remote patient care, and hospital porter transport.
            </p>
            <p class="mt-6 typo-main">
                In my spare time I spend as much time as I can with family and
                friends, draw, play video games, and go on adventures.
            </p>
            <Image
                src={Adventure}
                alt="A photo of my son and me on a hiking adventure in a forest, I've drawn a bunch doodles around us."
                title="My son and me on an adventure"
                class="mt-12 max-w-3/4 rounded-lg mx-auto"
            />
            <h2
                class="mt-8 typo-display-lg mb-4"
            >
                I really like
            </h2>
            <ul
                class="list-disc list-inside mt-6 typo-main space-y-2"
            >
                <li>design systems.</li>
                <li>visual design.</li>
                <!-- prettier-ignore -->
                <li><span class="inline-highlight bg-amber-200 p-1 rounded-xs" style="--selection-highlight: #fde68a;">yellow.</span></li>
                <li>patterns.</li>
                <li>listening to rain.</li>
                <li>drawing.</li>
                <li>video games.</li>
            </ul>
           <h2
                class="mt-8 typo-display-lg mb-4"
            >
                Secret
            </h2>
            <p class="mt-6 typo-main">
                <Logo
                    width={20}
                    height={20}
                    class="inline-block h-[1.1em] w-[1.1em] max-w-none rounded-none align-middle mr-2"
                    style="display:inline-block !important;vertical-align:middle !important;margin:0 8px 0 0 !important;padding:0 !important;"
                />Perhaps you've figured out what my logo is? The feeling when a design finally clicks is chef's kiss. That feeling is what I like most about making.
            </p>
        </div>
    </section>
</BaseLayout>
