---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
    title="About - Joacim Eldre"
    description="Learn more about Joacim Eldre, a designer, coder, adventurer, and lover of all things yellow."
>
    <section>
        <div class="py-24 max-w-xl2">
            <h1 class="text-4xl font-medium font-display text-base-900 mb-4">
                I'm a boy, friend, dad, adventurer, nerd, rainbow spewer, human.
            </h1>
            <p class="mt-6 text-base-900 text-xl">
                I like doing. Designing. Drawing. Coding. Discovering. Writing.
                Sharing. Helping. Learning. Adventuring. Laughing. Living.
                Loving.
            </p>
            <p class="mt-6 text-base-900 text-xl">
                I design software in public healthcare. We're currently working
                on remote patient care, and hospital porter transport.
            </p>
            <p class="mt-6 text-base-900 text-xl">
                In my spare time I spend as much time as I can with family and
                friends, draw, play video games, and go on adventures.
            </p>
            <h2
                class="mt-8 text-3xl font-medium font-display text-base-900 mb-4"
            >
                I really like
            </h2>
            <ul
                class="list-disc list-inside mt-6 text-base-900 text-xl space-y-2"
            >
                <li>design systems.</li>
                <li>visual design.</li>
                <!-- prettier-ignore -->
                <li><span class="bg-amber-200 p-1 rounded-xs">yellow.</span></li>
                <li>patterns.</li>
                <li>listening to rain.</li>
                <li>drawing.</li>
                <li>video games.</li>
            </ul>
        </div>
    </section>
</BaseLayout>
