---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
    <section>
        <div class="py-24">
            <h1
                class="text-4xl text-balance font-medium font-display text-base-900 max-w-xl"
            >
                I'm a friend, dad, adventurer, rainbow spewer, human.
            </h1>
            <p class="mt-6 text-base-700 text-lg text-balance max-w-2xl">
                I like doing stuff. Designing stuff. Coding stuff. Writing
                stuff. Sharing stuff. Helping stuff. Teaching stuff. Learning
                stuff. Meeting stuff. Exploring stuff. Building stuff. Fixing
                stuff. Creating stuff. Making stuff. Caring stuff. Laughing
                stuff. Living stuff. Loving stuff.
            </p>
        </div>
    </section>
</BaseLayout>
