---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogEntries from "@/components/entries/BlogEntry.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
// Sort posts by date in descending order (newest first)
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);
---

<BaseLayout
  title="Designer, Coder, Adventure.. er - Joacim Eldre"
  description="Explore the projects, writings, and adventures of Joacim Eldre. A designer, coder, adventurer, and lover of all things yellow."
>
  <section>
    <div class="pt-16 pb-24">
      <h1 class="typo-display-xl">
        Hei! I'm Joacim. I design software in public healthcare. I also draw icons, logos, and apps for people. Ö! And I make tiny video games for my kids and me.
      </h1>
      <h2 class="mt-8 typo-display-lg">
        These days I'm
      </h2>
      <ul class="list-disc list-inside mt-3 typo-main space-y-2">
        <li>drawing <i>icons</i>.</li>
        <li>listening to <i>Vulfpeck</i>.</li>
        <!-- prettier-ignore -->
        <li>watching <i>A Knight of the <span class="line-through" aria-hidden="true">Seven</span> Nine Kingdoms</i>.</li>
        <li>playing <i>Rime</i>.</li>
        <!-- prettier-ignore -->
        <li>making <i>Shapedrifter</i>. One more tiny video game.</li>
        <li>knitting a <i>scarf</i>. I want to illustrate a knitting guide.</li>
      </ul>
      <h2 class="mt-8 typo-display-lg">
        Recent writings
      </h2>
      <ul class="mt-4">
        {
          sortedPosts
            .slice(0, 5)
            .map((post) => (
              <BlogEntries
                url={"/posts/" + post.id.replace(/\.(md|mdx)$/i, "")}
                title={post.data.title}
                pubDate={post.data.pubDate.toISOString().split("T")[0]}
              />
            ))
        }
      </ul>
      <p class="mt-4 typo-main">
        Or find <a href="/tags/All/">all posts</a>.
      </p>
    </div>
  </section>
</BaseLayout>
