---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogEntries from "@/components/entries/BlogEntry.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
// Sort posts by date in descending order (newest first)
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);
---

<BaseLayout
  title="Designer, Coder, Adventure.. er - Joacim Eldre"
  description="Explore the projects, writings, and adventures of Joacim Eldre. A designer, coder, adventurer, and lover of all things yellow."
>
  <section>
    <div class="py-24">
      <h1 class="text-4xl text-balance font-medium font-display text-base-900">
        Hei! I'm Joacim. I design software in public healthcare. Once in a while
        I draw icons, logos, and apps for fine people.
      </h1>
      <h2 class="mt-8 text-3xl font-medium font-display text-base-900">
        These days I'm
      </h2>
      <ul class="list-disc list-inside mt-3 text-base-900 space-y-2">
        <li>drawing <i>icons</i>.</li>
        <li>listening to <i>Vulfpeck</i>.</li>
        <!-- prettier-ignore -->
        <li>watching <i>A Knight of the <span class="line-through" aria-hidden="true">Seven</span> Nine Kingdoms</i>.</li>
        <li>playing <i>Rime</i>.</li>
        <!-- prettier-ignore -->
        <li>making <i>Shapedrifter</i>, another tiny video game.</li>
        <li>knitting a <i>dishcloth</i>. I want to illustrate a knitting guide.</li>
      </ul>
      <h2 class="mt-8 text-3xl font-medium font-display text-base-900">
        Recent writings
      </h2>
      <div class="gap-4">
        {
          sortedPosts
            .slice(0, 5)
            .map((post) => (
              <BlogEntries
                url={"/posts/" + post.slug}
                title={post.data.title}
                pubDate={post.data.pubDate.toISOString().split("T")[0]}
              />
            ))
        }
      </div>
      <p class="mt-4">
        Or you can find <a
          href="/tags/All/"
          class="underline hover:decoration-wavy"
          >all the <span class="line-through" aria-hidden="true">things</span> posts</a
        >.
      </p>
    </div>
  </section>
</BaseLayout>
