<section class="bg-base-50 p-8 rounded-xl lg:p-20">
  <h2
    id="email-heading"
    class="text-2xl text-balance font-medium font-display text-base-900 text-center"
  >
    Send me an email. I'll get back to you swiftly.
  </h2>
  <form
    action="mailto:hei@joacimeldre.com"
    method="post"
    enctype="text/plain"
    class="mt-8 flex justify-center"
  >
    <button
      type="submit"
      value="Open your email app"
      class="flex items-center justify-center h-10 px-4 py-2 text-sm text-white bg-base-900 rounded-full duration-300 focus:ring-2 focus:ring-offset-2 focus:ring-base-900 hover:bg-base-800"
    >
      Open your email app
    </button>
  </form>
</section>
