<footer>
  <div class="py-12">
    <p class="text-xs text-base-500 text-balance text-center" x-data="{ year: new Date().getFullYear() }">
      © <span x-text="year"></span>. All tights deserved. I promise that everything on this website is and will always
      be made by me, an ordinary human being made of jelly. Say hi on <a href="mailto:hei@joacimeldre.com"
        class="underline">hei@joacimeldre.com</a> or <a href="https://bsky.app/profile/joacimeldre.com"
        class="underline">Bluesky</a>.
    </p>
  </div>
</footer>