<footer>
  <div class="py-12">
    <div class="text-center mb-6">
      <a
        href="#top"
        class="bg-amber-200 text-base-900 py-2 px-4 rounded-full text-sm transition duration-200 hover:bg-white hover:text-base-900"
        ><span aria-hidden="true">△</span> Go to top</a
      >
    </div>
    <p class="text-xs text-base-900 text-balance text-center">
      © {new Date().getFullYear()}. All tights deserved. I promise that
      everything on this website is and will always be made by me, an ordinary
      human being made of <span class="px-1 bg-green-200 rounded">jelly</span>.
    </p>
    <p class="text-xs text-base-900 text-balance text-center mt-4">
      Say hi on <a
        href="mailto:hei@joacimeldre.com"
        class="underline transition duration-200 hover:decoration-wavy"
      >
        hei@joacimeldre.com</a
      > or
      <a
        href="https://bsky.app/profile/joacimeldre.com"
        class="underline transition duration-200 hover:decoration-wavy"
      >
        Bluesky</a
      >.
    </p>
  </div>
</footer>
