---
import { Image } from "astro:assets";
import logo from "../../content/images/logo.svg";
---

<div
  class="mt-6 relative flex flex-row w-full mx-auto items-center justify-between"
>
  <div>
    <a href="/" aria-label="Home" class="logo-link">
      <Image
        src={logo}
        alt="Joacim Eldre Logo"
        width={69}
        height={23}
        class="h-5 w-auto max-w-none block"
      />
    </a>
  </div>
  <nav class="flex ml-auto gap-4 items-center">
    <a
      href="/about"
      class="underline typo-nav transition duration-200 hover:decoration-wavy"
    >
      About
    </a>
    <a
      href="mailto:hei@joacimeldre.com"
      class="bg-accent typo-nav py-2 px-4 rounded-full transition duration-200 hover:bg-white hover:text-base-900"
      >Hello <span aria-hidden="true">:)</span></a
    >
  </nav>
</div>
